.container{
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
}

header{

    background-image: url("img/fondo.png");
    background-repeat: no-repeat;

    background-position-y: 90px;
    background-position-x: 50%;
    height: 1000px;
    position: relative;
}

.title{
    font-family: 'Inter', sans-serif;
    padding-top: 4%;
    color: white;
    font-size: 400%;
    font-weight: bold;
    position:absolute;
    text-shadow: 2px 2px 10px #000000;
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 130%;
    font-weight: normal;
    position:absolute;
    text-shadow: 2px 2px 10px #000000;
    top: 800%;
}
.btn{
    margin: 9px;
    background-color:#091146;
    border-color: #091146;
}
.btn-descargar{
    margin: 9px;
    background-color: transparent;
    border-color: #091146;
    color: #091146;
}
.btn-discount{
    border-style: solid;
    margin: 20px;
    background-color: transparent;
    border-color: #c94243 ;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding:10px 30px;
    position:absolute;
    /*box-shadow: 7px 7px 50px -6px #1e2125;*/
    top: 1100%;
    left: 250px;
}
.btn-iniciar{
    border-style: solid;
    background-color: #c94243;
    border-color: #c94243 ;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding:10px 30px;
    position:absolute;
    /*box-shadow: 7px 7px 50px -6px #1e2125;*/
    top: 1140%;
    left: 6%;
}
.logo{
    width: 50px;
}
.navbar-brand{
    color: #c94243;
    font-size: 200%;
    font-weight: bold;
}
.navbar-brand:hover{
    color: #c94243;
}
.navbar-brand:active{
    color: #c94243;
}
.img2{

    position: absolute;
    left: 31%;
    top: 550%;
    width: 78%;
    /*box-shadow: 7px 7px 50px -6px #1e2125;*/

}
main{
    padding-left: 15%;
    padding-right: 15%;
    background-color: #E5E5E5;

}

.row{
    margin: 0;
    padding-left: 3%;

}
#row-lugares{

}
.title-lugares{
    text-decoration: none;
    color: #c94243;
}
.title-lugares:hover{
    color: #c94243;

}
.btn-lugares{
    border-style: solid;
    background-color: #c94243;
    border-color: #c94243 ;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding:10px 30px;
}
.Title2{
    padding-left: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 300%;
    font-weight: bold;
    color: #c94243;
}
.card{
    padding:2%;
    width: 59%;
    height: auto;
    border-radius: 35px;
    margin: 1%;
    box-shadow: 9px 9px 30px -20px #d63384;
    border: none;

}
.col-sm-2{
    color: white;
}
.form-check-label{
    color: white;
}
.form-label{
    color: white;
}
.card-lugares{
    padding: 3%;
    width: 90%;
    height: auto;
    border-radius: 35px;
    margin: 1%;
    box-shadow: 9px 9px 30px -20px #d63384;
    border: none;

}
.card-title{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size:20px;
    color: #091146;

}
.img-card{
    width: 100%;
    padding: 30%;

}
.title-clasificacion{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-top: 10%;
    position:relative;
    font-size: 200%;
    color: #091146;
}
.img-card-lugares{
    width: 101%;
    padding-left: -10px;
}
.img-card-clasi{
    position: relative;
    width: 500%;
}
.img-mariana{
    padding-top: 19%;
    padding-left: 20%;
    position: absolute;
    width: 50%;
}

footer{
    background-color: #D9C9BF;

}
.container2{
    padding-top: 90px;
    padding-left: 15%;
    padding-right: 10%;
}
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #091146;
}
h6{
    font-family: 'Poppins', sans-serif;
    color: #5D616F;
}
.h7{
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    color: #5D616F;
    font-weight: bold;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: revert;
    padding-top: 15px;
    color: #5D616F;
}

.img-footer{
    width: 80%;
    padding-left: 10%;
}
.img-tiendas{
    width: 85%;
}
.img-redes{
    padding-left: 10%;
    width: 40%;

}
.border{
    border-color: white;
}

.img-card-fondo{
    position: relative;
}
#col-new{
    top:60px;
    left: 300px;
    padding: 15%;
    position: absolute;
}
#row-crearCuenta{
    background-image: url("img/card-registrate.png");
    background-repeat: no-repeat;
    padding-left: 10%;
    background-position-y: 90px;
    background-position-x: 30px;

    height: 950px;
    position: relative;
}
#text-Registrate{
    Color:white;
    font-size: 200%;
}
.img-app{
    padding-top: 28%;
    width: 35%;
}